<div class="design_drawing_page">
  <ion-view   hide-back-button="true">
    <ion-nav-buttons side="left" >
      <a class="button button-clear " href="#/tab/design">
        <i class="icon ion-chevron-left"></i>
        返回
      </a>
    </ion-nav-buttons>
    <ion-nav-title class="">
      <i class="icon ion-paper-airplane"></i>
      设计师
    </ion-nav-title>

    <ion-content class="stable-bg">



      <div class="sjg_show">
        <div class="row">
          <div class="col col-50" style="" >
            <div class="">
              <img src="../../img/sjg/sjg1.jpg">
            </div>
          </div>
          <div class="col col-50 ">
            <div class="">
              <img src="../../img/sjg/sjg2.jpg">
            </div>
          </div>
        </div>
      </div>

    </ion-content>
  </ion-view>
</div>








