<div class="design_page">
<ion-view view-title="搞设计" hide-back-button="false">
  <ion-content class=" stable-bg">

    <hr class="" style="padding: 0;margin-top: 3px;"/>
    <div class="row" style="padding: 0;margin-top: 0">
      <div class="col col-20 " style="text-align: center;" >
        <div class="button button-balanced " style="border-radius: 45px;height: 50px;width: 45px;
                        padding-top: 4px;">
          <i class=" icon ion-paper-airplane light" style="font-size: 40px;"></i>
        </div>
        <div style="margin-top: 3px;">
          设计稿
        </div>
      </div>
      <div class="col-20">
        <div class="row" style="padding: 0;">
          <div class="col col-90  text-center">
            <a class="button button-balanced   icon ion-paper-airplane"
               style="border-radius:60px;">
            </a>

          </div>
        </div>
        <div class="row " >
          <div class="col-90 text-center" style="margin-top: 3px;">
            设计稿
          </div>
        </div>
      </div>
    </div>





<hr class="" style="margin: 0px;"/>
    <ion-list>
      <div class="row padding">
        <div class="col-15" >
          <a class="button button-balanced button-outline icon ion-paper-airplane" >设计稿</a>
        </div>
        <div class="col-15 col-offset-10" >
          <a class="button button-balanced button-outline icon ion-paper-airplane" >Logo</a>
        </div>
      </div>
    </ion-list>
    <hr/>
    <div class="design-slide">
      <ion-slide-box   auto-play="true" does-continue="true" show-pager="true" slide-interval="1000">
        <ion-slide class="">
          <img  src="../img/sjg/sjg1.jpg">
        </ion-slide>
        <ion-slide>
          <img  src="../img/sjg/sjg2.jpg">
        </ion-slide>
        <ion-slide>
          <img  src="../img/sjg/sjg3.jpg">
        </ion-slide>
        <ion-slide>
          <img  src="../img/sjg/sjg4.jpg">
        </ion-slide>
        <ion-slide>
          <img  src="../img/sjg/sjg5.png">
        </ion-slide>
      </ion-slide-box>
    </div>

    <!--<div class="row">
      <div class="col col-33" >
        <a class="button button-balanced button-outline icon-bottom ion-paper-airplane">设计稿</a>
      </div>
      <div class="col col-33" >
        <a class="button button-balanced button-outline icon ion-android-attach" style="padding-left: 10px;">
          Logo</a>
      </div>
    </div>-->

  </ion-content>
</ion-view>
</div>
