<ion-view view-title="搞设计" hide-back-button="false">
  <ion-content class="padding stable-bg">

    <div class="row">
      <div class="col-15" >
        <a class="button button-balanced button-outline icon ion-paper-airplane" >设计稿</a>
      </div>
      <div class="col-15 col-offset-10" >
        <a class="button button-balanced button-outline icon ion-paper-airplane" >Logo</a>
      </div>
    </div>
    <hr/>

    <!--<div class="row">
      <div class="col col-33" >
        <a class="button button-balanced button-outline icon-bottom ion-paper-airplane">设计稿</a>
      </div>
      <div class="col col-33" >
        <a class="button button-balanced button-outline icon ion-android-attach" style="padding-left: 10px;">
          Logo</a>
      </div>
    </div>-->

  </ion-content>
</ion-view>
