<ion-view view-title="搞设计" hide-back-button="false">
  <ion-content class=" stable-bg">

    <div class="row padding">
      <div class="col-15" >
        <a class="button button-balanced button-outline icon ion-paper-airplane" >设计稿</a>
      </div>
      <div class="col-15 col-offset-10" >
        <a class="button button-balanced button-outline icon ion-paper-airplane" >Logo</a>
      </div>
    </div>
    <hr/>
    <ion-slide-box style="" class="" auto-play="true" does-continue="true" show-pager="true" slide-interval="1000">
      <ion-slide class="">
        <img style="height: 300px;width: 100%;" src="../img/sjg/sjg1.jpg">
      </ion-slide>
      <ion-slide>
        <img style="height: 300px;width: 100%;" src="../img/sjg/sjg2.jpg">
      </ion-slide>
      <ion-slide>
        <img style="height: 300px;width: 100%;" src="../img/sjg/sjg3.jpg">
      </ion-slide>
      <ion-slide>
        <img style="height: 300px;width: 100%;" src="../img/sjg/sjg4.jpg">
      </ion-slide>
      <ion-slide>
        <img style="height: 300px;width: 100%;" src="../img/sjg/sjg5.png">
      </ion-slide>
    </ion-slide-box>

    <!--<div class="row">
      <div class="col col-33" >
        <a class="button button-balanced button-outline icon-bottom ion-paper-airplane">设计稿</a>
      </div>
      <div class="col col-33" >
        <a class="button button-balanced button-outline icon ion-android-attach" style="padding-left: 10px;">
          Logo</a>
      </div>
    </div>-->

  </ion-content>
</ion-view>
